<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="assets/css/home-admin.css" />
</head>


<body>



<h1>ESPACE ADMINISTRATION</h1>


<div class="container">
  <img src="assets/img/home-admin1.png" alt="crud technicien" class="image">
  <div class="overlay">
    <div class="text">Technicien</div>
  </div>
</div>

</body>
</html>


