<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />

 <link rel="stylesheet" type="text/css" href="assets/css/home-admin.css" />
</head>


<body>


<h1>ESPACE ADMINISTRATION</h1>

<div class="container">
  <img src="assets/img/img-avatar.png" alt="crud technicien" class="image">
  <div class="overlay">
    <div class="text">Technicien</div>
  </div>
</div>


</body>

</html>


