<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout.html">
<head>
<title>Gestion des origami</title>
</head>
<body>

<section layout:fragment="custom-content">

<h1 class="display-2" layout:fragment="custom-title">Liste des origami</h1>
<div>
<a class="btn btn-outline-info" th:href="@{create}" sec:authorize="hasRole('ROLE_ADMIN')">Ajouter un origami</a>
</br></br>
</div>
	<div>
		<table class="table table-striped">
			<thead class="bg-success">
				<tr class="table-info">
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Niveau</th>
					<th scope="col">Temps de realisation</th>
					<th scope="col">Nombre de feuilles</th>
					<th scope="col">Disponibilite</th>
					<th scope="col">Gerer la disponibilité</th>
					<th scope="col">Note</th>
					<th scope="col">Etapes</th>
					<th scope="col">Categories</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ori : ${ origamis }">
					<th scope="row">[[${ ori.id }]]</th>
					<td>[[${ ori.nom }]]</td>
					<td>[[${ ori.niveau }]]</td>
					<td>[[${ ori.temps }]]</td>
					<td>[[${ ori.feuille }]]</td>
					<td>[[${ ori.dispo }]]</td>
					<td>
					<span th:if="${ ori.dispo == true }">
					<a th:href="@{non-dispo(id=${ori.id})}" class="btn btn-danger">Rendre indisponible</a></span>
					<span th:if="${ ori.dispo == false }">
					<a th:href="@{dispo(id=${ori.id})}" class="btn btn-success">Rendre disponible</a></span></td>
					<td>[[${ori.note }]]</td>
					<td><a class="btn btn-primary" th:href="@{read(id=${ ori.id })}">Voir la liste des etapes</a></td>
					<td>
						<span th:each="cat : ${ ori.categories }">[[${ cat.nom }]]</span>
					</td>
					<td><a class="btn btn-outline-secondary"
						th:href="@{update(id=${ ori.id })}">Modifier</a>
						<a class="btn btn-outline-danger"
						th:href="@{delete(id=${ ori.id })}" sec:authorize="hasRole('ROLE_ADMIN')">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<h1 class="display-2">Liste des etapes</h1>
			<table class="table table-striped">
			<thead class="bg-success">
				<tr class="table-info">
					<th scope="col">#</th>
					<th scope="col">Descriptif</th>
					<th scope="col">Ordre</th>
					<th scope="col">Image</th>
					<th scope="col">Video</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="etape : ${ etapes }">
					<th scope="row">[[${ etape.id }]]</th>
					<td>[[${ etape.descriptif }]]</td>
					<td>[[${ etape.ordre }]]</td>
					<td>[[${ etape.image }]]</td>
					<td>[[${ etape.video }]]</td>
				</tr>
			</tbody>
		</table>


<!-- A faire, ajouter une table nom de catégories, et deux boutons associer/dissocier qui sauvegardent les categs associées à l'origami -->
</section>

</body>
</html>