<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/origami-list']" routerLinkActive="active">Origamis</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="http://image.noelshack.com/fichiers/2018/38/1/1537180970-mais-naaaan-2.gif">Cadeau</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="http://localhost:8080/login">Cadeau</a>
    </li>
  </ul>
</nav>
