<h1 class="search-h2">{{getOrigami().nom}}</h1>
<br />

<h2>Listes des etapes</h2>

<div>
Temps: {{getOrigami().temps}} min - Nombre de feuilles: {{getOrigami().feuille}} - Niveau: {{getOrigami().niveau}} - Note: {{getOrigami().note}}
</div>

<table class="table table-hover">
<thead>
<tr>
 <th scope="col">#</th>
 <th scope="col">Description</th>
 <th scope="col">Image</th>
 <th scope="col">Video</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let e of getEtapes()">
 <td>{{e.ordre}}</td>
 <td>{{e.descriptif}}</td>
<td> <img src="{{e.image}}"/></td>
<td><a href="{{e.video}}">Video</a></td>
</tr>
</tbody>
</table>
