<h1>{{origami.nom}}</h1>
<br />
<h2>Listes des etapes</h2>
<div>
Temps: {{origami.temps}} - Nombre de feuilles: {{origami.feuille}} - Niveau: {{origami.niveau}} - Note: {{origami.note}}
</div>
<table class="table table-hover">
<thead>
<tr>
 <th scope="col">#</th>
 <th scope="col">Description</th>
 <th scope="col">Image</th>
 <th scope="col">Video</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let e of OrigamiDetailsService.findAllByOrigamiIdOrderByOrdre()">
 <td>{{e.ordre}}</td>
 <td>{{e.descriptif}}</td>
<td>{{e.image}}</td>
<td>{{e.video}}</td>
</tr>
</tbody>
</table>
