
<div id="leDivDesFamilles">
<div id="aside">
  <b>Difficulté</b>
  <form name="difficulte">
    <input type="checkbox" name="occasionnel" value="1"> Occasionnel
    <input type="checkbox" name="normal" value="2"> Normal
    <input type="checkbox" name="avance" value="3"> Avancé
    <input type="checkbox" name="expert" value="4"> Expert
  </form>

  <br/>
  <br/>

  <b>Catégorie</b>
  <select name="categorie">
    <option *ngFor="let c of getCategories()">{{ c.nom }}</option>
  </select>

  <br/>
  <br/>

  <b>Recherche</b>
  <input name="recherche" type="text" [(ngModel)]="origami.nom" />
</div>

<div id="view">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Niveau</th>
        <th>Temps</th>
        <th>Note</th>
        <th>Catégorie</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <tr *ngFor="let o of getOrigamis()">
         <td>{{ o.nom }}</td>
        <td>{{ o.niveau }}</td>
        <td>{{ o.temps }}</td>
        <td>{{ o.note }}</td>
        <td *ngFor="let c of getOrigamiCategorie()">{{ c.nom }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
